<div class="card-block">
    <h3 class="card-title"> {{action.name}}
        <span *ngIf="!action.oneTime && action.showNumber">{{action.quantity | format}}</span>
        <span *ngIf="action.limit">/{{action.limit | format}}</span>
    </h3>

    <div class="toggle-switch hide" *ngIf="action.showHide">
        <input type="checkbox" [id]="action.getId()" [(ngModel)]="action.show">
        <label [for]="action.getId()">Show</label>
    </div>

    <div class="card-text">
        <span>{{action.description}} &nbsp;</span>
        <p class="no-margin" *ngIf="!(action.oneTime && action.owned)">
            <span *ngFor="let p of action.realPriceNow" [ngClass]="{'notEnought': p.basePrice.greaterThan(p.what.quantity)}">
                {{numberformat.formatShort(p.basePrice)}} {{p.what.name}},
            </span>
            <br/>
        </p>
    </div>

    <div class="minHeight" *ngIf="!action.limit || action.limit.greaterThan(action.quantity)">
        <div *ngIf="action.canBuy">
            <div class="form-group">
                <div class="btn-group w-100" role="group">

                    <button type="button" class="btn btn-secondary w-100" (click)="action.buy(getReqNum())" [disabled]="!action.maxBuy.greaterThanOrEqualTo(1)">
                        <span *ngIf="!action.oneTime ; else get">{{action.buyString1}}</span>
                        <ng-template #get>
                            <span *ngIf="action.oneTime">Get</span>
                        </ng-template>
                    </button>
                    <button type="button " class="btn btn-secondary w-100" (click)="action.buy(action.maxBuy.div(2).ceil())" *ngIf="action.maxBuy.greaterThanOrEqualTo(3)">
                        <span>{{action.buyStringHalf}}</span>
                    </button>
                    <button type="button" class="btn btn-secondary w-100" (click)="action.buy(action.maxBuy)" *ngIf="action.maxBuy.greaterThanOrEqualTo(2)">
                        <span>{{action.buyStringMax}}</span>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="!action.canBuy && !(action.oneTime && action.owned)">
            <div class="progress-block">
                <label>
                    <span *ngFor="let cost of action.realPriceNow; trackBy:getPriceId">
                        {{cost.basePrice | format}}&nbsp;{{cost.what.name}}
                        <br/>
                    </span>
                </label>
                <div class="progress-group">
                    <div *ngFor="let cost of action.realPriceNow; trackBy:getPriceId" class="progress-static" [ngClass]="{'success': cost.what.quantity.greaterThanOrEqualTo(cost.basePrice), 'danger': !cost.what.quantity.greaterThanOrEqualTo(cost.basePrice)}">
                        <div class="progress-meter" max="100" attr.data-value="{{Math.min(cost.what.quantity.times(100).div(cost.basePrice).floor().toNumber(),100)}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>