<div class="card-header">
    {{village.name}}
</div>
<div class="card-block">
    <div class="card-text">
        <span>Level: {{village.level | format}}</span>
        <br/>
        <span>Races:</span>
        <span *ngFor="let r of village.avaiableRaces">
            {{r}}
        </span>

        <div *ngIf="village.startingStuff?.length > 0">
            <span>Start with: </span>
            <ul>
                <li *ngFor="let s of village.startingStuff">
                    {{s[0].name}} x {{s[1] | format}}
                </li>
            </ul>
        </div>

        <div *ngIf="village.avaiableStuff?.length > 0">
            <span>Avaiable: </span>
            <ul>
                <li *ngFor="let a of village.avaiableStuff">
                    {{a.name}}
                </li>
            </ul>
        </div>

        <div *ngIf="village.gainMulti?.length > 0">
            <span>Resource Multipliers: </span>
            <ul>
                <li *ngFor="let g of village.gainMulti">
                    {{g[0].name}} + {{g[1].times(100) | format}} %
                </li>
            </ul>
        </div>

        <div *ngIf="village.malus?.length > 0">
            <span>Malus: </span>
            <ul>
                <li *ngFor="let m of village.malus">
                    {{m}}
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="card-footer" *ngIf="!home">
    <button class="btn btn-sm btn-link" (click)="open = true">Found</button>
</div>

<clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">Found a new Village</h3>
    <div class="modal-body">
        <p>By found a new village you will lose everything expept honor upgrade.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="found()">Found</button>
    </div>
</clr-modal>