<clr-main-container>

    <clr-header [ngClass]="getClass()">

        <div class="branding">
            <a href="javascript://" class="nav-link" routerLink="/home">
                <!-- <clr-icon shape="vm-bug"></clr-icon> -->

                <span class="title">Idle Medieval</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <!-- <a class="nav-link" class="nav-link nav-text" routerLinkActive="active" routerLink="/home">
                <clr-icon shape="home"></clr-icon>
            </a> -->
            <a class="nav-link" class="nav-link nav-text" routerLinkActive="active" routerLink="/lab" *ngIf="gameService.game.labTab.unlocked">
                <clr-icon shape="library"></clr-icon>
            </a>
            <a class="nav-link" class="nav-link nav-text" routerLinkActive="active" routerLink="/vil">
                <clr-icon shape="home"></clr-icon>
            </a>
            <a class="nav-link" class="nav-link nav-text" routerLinkActive="active" routerLink="/ord">
                <clr-icon shape="scroll"></clr-icon>
            </a>
            <a class="nav-link" class="nav-link nav-text" routerLinkActive="active" routerLink="/travel">
                <clr-icon shape="scroll"></clr-icon>
            </a>
        </div>
        <div class="header-actions">

            <form class="search">
                <label id="multiLabel" for="multi">Buy:&nbsp;</label>
                <input class="multiBuy" min="1" id="multi" type="number" name="buyMulti" placeholder="Buy multiplier"
                    [(ngModel)]="gameService.game.buyMulti">
            </form>

            <a class="nav-link nav-icon" href="javascript://" (click)="gameService.game.pause = !gameService.game.pause">
                <clr-icon shape="play" *ngIf="gameService.game.pause; else pauseB"></clr-icon>
                <ng-template #content #pauseB>
                    <clr-icon shape="pause"></clr-icon>
                </ng-template>
            </a>
            <a href="javascript://" class="nav-link nav-icon" routerLink="/save">
                <clr-icon shape="cog"></clr-icon>
            </a>


        </div>
    </clr-header>
    <!-- Top Material Nav -->
    <nav class="subnav">
        <ul class="nav navMat">
            <li class="nav-item" class="matTab" *ngFor="let g of gameService.game.matList.uiList">
                <a [routerLink]="['/home/'+g.id]" class="nav-link matLink" routerLinkActive="active">

                    <span style="display:block;">
                        <clr-icon class="is-info" shape="angle-double" *ngIf="g.showUp"></clr-icon>
                        <span class="first">{{g.name}}</span>
                    </span>

                    <span class="perSecTab small">
                        <span *ngIf="g.totalPerSec.abs().greaterThan(0.001)">
                            {{g.totalPerSec | format}}/s
                        </span>
                    </span>
                    <span class="small">{{g.quantity | format}}</span>

                </a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</clr-main-container>
